﻿@model Item

<div class="thumbnail">
    <img alt="@Model.Name" src="@Model.ImageURL">
    <div class="caption-full">
        <h3 class="pull-right">@Model.Price</h3>
        <h3>
            <a href="#">@Model.Name</a>
        </h3>
        <h4>@Model.ShortDescription</h4>
        <p>@Model.LongDescription</p>
        <p class="button">
            <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="AddToShoppingCart"
               asp-route-itemID="@Model.ItemID">Add to cart</a>
        </p>
    </div>
</div>