﻿<div id="contentDiv"></div>

@section scripts{

    <script>

        $(document).ready(function () {
            LoadMoreItems();
        });

        $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                LoadMoreItems();
            }
        });

        function LoadMoreItems() {

            $.ajax({
                type: 'GET',
                url: '/api/ItemAPI',
                dataType: 'json',
                success: function (jsonData) {
                    if (jsonData == null) {
                        alert('no data returned');
                        return;
                    }

                    $.each(jsonData, function (index, item) {

                        var SummaryData = '<div class="col-sm-4 col-lg-4 col-md-4"> ' +
                            '  <div class="thumbnail">' +
                            '     <img src="' + item.thumbnailUrl + '" alt="">' +
                            '      <div class="caption">' +
                            '         <h3 class="pull-right">' + item.price + '</h3>' +
                            '         <h3>' +
                            '             <a href=/Item/Details/' + item.itemID + '>' + item.name + '</a>' +
                            '         </h3>' +
                            '         <p>' + item.shortDescription + '</p>' +
                            '    </div>' +
                            '    <div class="addToCart">' +
                            '        <p class="button">' +
                            '             <a class="btn btn-primary" href=/ShoppingCart/AddToShoppingCart?ItemID=' + item.itemID + '>Add to cart</a>' +
                            '         </p>' +
                            '     </div>' +
                            '  </div>' +
                            '</div>';

                        $('#contentDiv').append(SummaryData);
                    });
                },
                error: function (ex) {
                    alert(ex);
                }
            });
            return false;
        }
    </script>

}