﻿﻿@model ItemListViewModel

<h2>Items viewed by the visitors</h2>
<table class="table">
    @foreach (var item in Model.Items)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.VisitCount</td>
        </tr>
    }
</table>