﻿@model IEnumerable<Microsoft.AspNetCore.Identity.EntityFrameworkCore.IdentityUser>
@{
    ViewBag.Title = "User Management";
}

<a asp-action="Create">Add User</a>

<table class="table">
    <tr><th>User Name</th><th>Email</th><th></th></tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                    <a class="btn btn-sm btn-primary" asp-controller="Roles" asp-action="Edit" asp-route-userid="@user.Id">Roles</a>
            <button type="submit" class="btn btn-sm btn-danger">
                Delete
            </button>
            </form>
            </td>
        </tr>
    }
</table>