﻿@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

@inject SignInManager<Microsoft.AspNetCore.Identity.EntityFrameworkCore.IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(base.User))
{
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a asp-controller="Item"
               asp-action="Index"
               class="dropdown-toggle" data-toggle="dropdown">Admin panel<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a asp-controller="Account" asp-action="Index" asp-route-category="">User Management</a></li>
                <li class="divider"></li>
                <li><a asp-controller="Roles" asp-action="Index" asp-route-Category="">Role Management</a></li>
                <li class="divider"></li>
                <li><a asp-controller="Report" asp-action="Index" asp-route-Category="">Show news report</a></li>
            </ul>
        </li>
    </ul>
}
else { }
