﻿@model HomeViewModel

@await Html.PartialAsync("SlidesPartial")

<h2>Featured items</h2>
<h4>Choose any of these from our special offer!</h4>

<div class="row">

    @foreach (var item in Model.SpecialOffer)
    {
        @Html.Partial("SpecialOfferPartial", item)

    }
</div>